fastapi
uvicorn
pydantic
python-multipart
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-ollama
langchain-text-splitters
chromadb
sentence-transformers
SQLAlchemy
pymysql
cryptography
PyMuPDF
docx2txt
pillow
pytesseract
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
